@import url("./style.css");

.features-home {
    margin-top: 170px;
}

.title-features-home {
    background-image: linear-gradient(#282828, #212121);
    color: var(--base-color-neutral--neutral-light);
    border-radius: .5rem;
    padding: .375rem .85rem;
}

.features-home-text h5 {
    font-size: .75rem;
    color: var(--text-color--text-secondary);
}

.features-home-text h2 {
    color: var(--text-color--text-secondary);
    max-width: 750px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

.features-home-text h2 span {
    color: var(--text-color--text-alternate);
    font-weight: 600;
    font-family:  Arial, sans-serif;
    font-style: italic;
}

.features-home-text p {
    color: var(--text-color--text-secondary);
    font-size: .875rem;
}

.features-home-card {
    border: 1px solid var(--base-color-neutral--neutral-darker);
    background-color: var(--base-color-neutral--neutral-darkest);
    border-radius: 1rem;
} 
.home_features_card_icon{
background-image: linear-gradient(90deg, #232526, #414345);
    border: 2px solid #2d2d2d;
    border-radius: .375rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    display: flex
;
}
.home_features_card_icon svg{
    color: var(--text-color--text-alternate);

}
.features-home-card h3 {
    color: var(--text-color--text-alternate);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.features-home-card p {
    color: var(--text-color--text-secondary);
    font-size: .875rem;
}