section.slide-option {
	margin: 0 0 10px 0;

	.no-marg {
		margin: 0 0 0 0;
	}
}

@media (max-width:768px) {
	section.slide-option {
		max-width: 300px;
	}
}

.highway-car img {
	width: 9rem;
	height: auto;
}

div.highway-slider {
	display: flex;
	justify-content: center;
	max-width: 750px;
    
	div.highway-barrier {
		overflow: hidden;
		position: relative;
	}

	ul.highway-lane {
		display: flex;
		height: 100%;

		li.highway-car {
			flex: 0 0 auto;
			margin: 0 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #11111100;
			color: #343434;
		}
	}
}

@keyframes translatestf {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-500%);
	}
}

#stffull div.highway-barrier {
	ul.highway-lane {
		width: 500%;

		li.highway-car {
			animation: translatestf 30s linear infinite;

			h4 {
				font-size: 28px;
			}
		}
	}
}

@keyframes translateinfinite {
	100% {
		transform: translateX(calc(-180px * 12));
	}
}

#infinite div.highway-barrier {


	&::before,
	&::after {
		content: " ";
		position: absolute;
		z-index: 9;
		width: 180px;
		height: 100%;
	}

	&::before {
		top: 0;
		left: 0;

	}

	&::after {
		top: 0;
		right: 0;
	}

	ul.highway-lane {
		width: calc(180px * 24);

		li.highway-car {
			width: 180px;
			animation: translateinfinite 25s linear infinite;
			span.fab {
				font-size: 65px;
			}
		}
	}
}